[submodule "Repository/Day 1/Theory/developer-environment-setup"]
	path = Repository/Day 1/Theory/developer-environment-setup
	url = git@github.com:boolean-uk/developer-environment-setup.git
[submodule "Repository/Day 1/Theory/java-fundamentals-day-1-workshop"]
	path = Repository/Day 1/Theory/java-fundamentals-day-1-workshop
	url = git@github.com:boolean-uk/java-fundamentals-day-1-workshop.git
[submodule "Repository/Day 1/Ex/Optional/--force"]
	path = Repository/Day 1/Ex/Optional/--force
	url = git@github.com:boolean-uk/java-fundamentals-overview.git
[submodule "Repository/Day 1/Ex/Optional/java-fundamentals-overview"]
	path = Repository/Day 1/Ex/Optional/java-fundamentals-overview
	url = git@github.com:boolean-uk/java-fundamentals-overview.git
[submodule "Repository/developer-environment-setup"]
	path = Repository/developer-environment-setup
	url = git@github.com:boolean-uk/developer-environment-setup.git
[submodule "Repository/Day 1/Theory/1 - developer environment setup"]
	path = Repository/Day 1/Theory/1 - developer environment setup
	url = https://github.com/boolean-uk/developer-environment-setup.git
[submodule "Repository/Day 1/Theory/2 - boolean uk 1 fortnox doc"]
	path = Repository/Day 1/Theory/2 - boolean uk 1 fortnox doc
	url = https://github.com/boolean-uk/java-fundamentals-day-1-workshop.git
[submodule "Repository/Day 1/Theory/2 - java fundamentals day 1 workshop"]
	path = Repository/Day 1/Theory/2 - java fundamentals day 1 workshop
	url = https://github.com/boolean-uk/java-fundamentals-day-1-workshop.git
[submodule "Repository/Day 1/Ex/1 - java fundamentals overview"]
	path = Repository/Day 1/Ex/1 - java fundamentals overview
	url = https://github.com/boolean-uk/java-fundamentals-overview.git
[submodule "Repository/Day 1/Ex/Optional/1 - java fundamentals overview"]
	path = Repository/Day 1/Ex/Optional/1 - java fundamentals overview
	url = https://github.com/boolean-uk/java-fundamentals-overview.git
[submodule "Repository/Day 2/Theory/1 - java fundamentals lists and hashmaps workshop"]
	path = Repository/Day 2/Theory/1 - java fundamentals lists and hashmaps workshop
	url = https://github.com/boolean-uk/java-fundamentals-lists-and-hashmaps-workshop.git
[submodule "Repository/Day 2/Ex/1 - java fundamentals lists"]
	path = Repository/Day 2/Ex/1 - java fundamentals lists
	url = https://github.com/boolean-uk/java-fundamentals-lists.git
[submodule "Repository/Day 2/Ex/2 - java fundamentals maps"]
	path = Repository/Day 2/Ex/2 - java fundamentals maps
	url = https://github.com/boolean-uk/java-fundamentals-maps.git
[submodule "Repository/Day 2/Ex/3 - java scrabble challenge"]
	path = Repository/Day 2/Ex/3 - java scrabble challenge
	url = https://github.com/boolean-uk/java-scrabble-challenge.git
[submodule "Repository/Day 3/Theory/1 - java tdd domain modelling"]
	path = Repository/Day 3/Theory/1 - java tdd domain modelling
	url = https://github.com/boolean-uk/java-tdd-domain-modelling.git
[submodule "Repository/Day 3/Ex/1 - java tdd todo list"]
	path = Repository/Day 3/Ex/1 - java tdd todo list
	url = https://github.com/boolean-uk/java-tdd-todo-list.git
[submodule "Repository/Day 4/Theory/1 - java tdd oop encapsulation"]
	path = Repository/Day 4/Theory/1 - java tdd oop encapsulation
	url = https://github.com/boolean-uk/java-tdd-oop-encapsulation.git
[submodule "Repository/Day 4/Theory/2 - java tdd oop abstraction"]
	path = Repository/Day 4/Theory/2 - java tdd oop abstraction
	url = https://github.com/boolean-uk/java-tdd-oop-abstraction.git
[submodule "Repository/Day 4/Ex/1 - java tdd oop bobs bagels"]
	path = Repository/Day 4/Ex/1 - java tdd oop bobs bagels
	url = https://github.com/boolean-uk/java-tdd-oop-bobs-bagels.git
[submodule "Repository/Day 2/LC/1 - Java Collection - LC"]
	path = Repository/Day 2/LC/1 - Java Collection - LC
	url = https://github.com/Guybrush3791/boolean-uk-2-fortnox-collection-lc.git
[submodule "Repository/Day 4/Lc/1 - encapsulation lc"]
	path = Repository/Day 4/Lc/1 - encapsulation lc
	url = https://github.com/Guybrush3791/boolean-uk-2-encapsulation-lc.git
[submodule "Repository/Day 5/Theory/1 - Polymorphism"]
	path = Repository/Day 5/Theory/1 - Polymorphism
	url = https://github.com/boolean-uk/java-tdd-oop-polymorphism.git
[submodule "Repository/Day 5/Theory/2 - Inheritance"]
	path = Repository/Day 5/Theory/2 - Inheritance
	url = https://github.com/boolean-uk/java-tdd-oop-inheritance.git
[submodule "Repository/Day 5/LC/1 - Inheritance and Polymorphism"]
	path = Repository/Day 5/LC/1 - Inheritance and Polymorphism
	url = https://github.com/Guybrush3791/boolean-uk-2-fortnox-inheritance-and-polymorphism.git
[submodule "Repository/Day 6/Ex/1 - Bank Challenge"]
	path = Repository/Day 6/Ex/1 - Bank Challenge
	url = https://github.com/boolean-uk/java-tdd-oop-bank-challenge.git
[submodule "Repository/Day 7/Theroy/1 - Spring Boot, Controllers, Annotations"]
	path = Repository/Day 7/Theroy/1 - Spring Boot, Controllers, Annotations
	url = https://github.com/boolean-uk/java-api-counter-workshop.git
[submodule "Repository/Day 7/Ex/1 - Java API Counter"]
	path = Repository/Day 7/Ex/1 - Java API Counter
	url = https://github.com/boolean-uk/java-api-counter.git
[submodule "Repository/Day 7/Theory/1 - Spring Boot, Controllers, Annotations"]
	path = Repository/Day 7/Theory/1 - Spring Boot, Controllers, Annotations
	url = https://github.com/boolean-uk/java-api-counter-workshop.git
[submodule "Repository/Day 7/LC/1 - Spring Intro"]
	path = Repository/Day 7/LC/1 - Spring Intro
	url = https://github.com/Guybrush3791/boolean-uk-2-fortnox-spring-intro.git
[submodule "Repository/Day 8/Theory/1 - Java Requests and Responses"]
	path = Repository/Day 8/Theory/1 - Java Requests and Responses
	url = https://github.com/boolean-uk/java-api-requests-responses-workshop.git
[submodule "Repository/Day 8/Ex/1 - Java API Requests & Responses"]
	path = Repository/Day 8/Ex/1 - Java API Requests & Responses
	url = https://github.com/boolean-uk/java-api-requests-responses.git
[submodule "Repository/Day 3/LC/1 - TDD domain model"]
	path = Repository/Day 3/LC/1 - TDD domain model
	url = https://github.com/Guybrush3791/java-tdd-domain-modelling.git
[submodule "Repository/Day 3/LC/2 - Scrabble Ex"]
	path = Repository/Day 3/LC/2 - Scrabble Ex
	url = https://github.com/Guybrush3791/java-scrabble-challenge.git
[submodule "Repository/Day 8/LC/1 - REST + OpenAPI"]
	path = Repository/Day 8/LC/1 - REST + OpenAPI
	url = https://github.com/Guybrush3791/java-api-requests-responses-workshop-1.git
[submodule "Repository/Day 4/LC/1 - Encapsulation + Abstraction"]
	path = Repository/Day 4/LC/1 - Encapsulation + Abstraction
	url = https://github.com/Guybrush3791/boolean-uk-2-encapsulation-lc.git
[submodule "Repository/Day 9/Theory/1 - Java API - MVC - In Memory"]
	path = Repository/Day 9/Theory/1 - Java API - MVC - In Memory
	url = https://github.com/boolean-uk/java-api-mvc-in-memory-workshop.git
[submodule "Repository/Day 9/Ex/1 - Java API - MVC - In Memory"]
	path = Repository/Day 9/Ex/1 - Java API - MVC - In Memory
	url = https://github.com/boolean-uk/java-api-mvc-in-memory.git
